<router-outlet>
  <div [class.dark]="darkMode">
    <div class="bg-gradient-to-l min-h-[100vh] dark:from-zinc-900 dark:to-zinc-600 from-zinc-400 to-zinc-50">
      <div class="container mx-auto dark:text-white px-4">
        <header class="flex justify-between items-center gap-4 py-6">
          <!-- ********************************** Start Navbar Section ********************************* -->
          <div *ngIf="!darkMode" (click)="setToggle()">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAgNJREFUWEft1svLT0EYB/DPSxZSLNiwUBYuRVkgl5JkQaJEko2lha1bFMKCsPUHsFAIC5dSSEQuESFKiMLCpZSykDhT59VpnHPm+J1Xveo8y5l5nu93vvOdZ6bPIIu+QcZHRyh1Ip1CnUIpBVLz/6WH5mEl5mMyRqV2Gc1/wTNcxwncrcuvU2gSjmL2XxJILb+I9XhTtrCK0HRcwphU9R7n32IBXsT5ZYTG4z5G9wjWNO01ZuJjMaGM0A0E38RxDvfywRlY1hS5Zt1prKojtBTnowKfsCYz9eVofHFu0pEtiQWV+jf6x+N6BOsigCUIRiyLtTjWktB+bOuvER/ZS0woAFzFwgTgU0xpQepWtuG5VYS+YkSh+D5sT4AdxoYWhD4XL1Cs0DuMLRQ/iC0JsEPY2ILQe4yrUuhsdHuu5f2iDu9OdhFmtSAUbu/yKkJ7sCMqvghXKgDDk3KqBZmQuhc7qwgFQz/B8ALIB6zAzZJrf7yHt61Y5hum4lUVoTC+KTN28E4xfuJM1sQe5YPhiELPahubETz4O8o69dBMkQeY1hYtkR9OIryZP1KEwvzETMqTecK/4PUws8ZqPI+L130/hmE3tmLIALEKahzALnwvq9nkxxiOLvgl/IvmFHtGQ5Kht4VufBsX8LgurwmhhrgDs6wjlNKxU6hTKKVAar7zUEqhX1nOSSVWCzjhAAAAAElFTkSuQmCC" />
          </div>

          <div  *ngIf="darkMode" (click)="setToggle()">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAmZJREFUWEft1kvITVEUB/Dfl2cpSiQjeU/kMfCMYoJQYqgwEEUmJEYmzCgjJCaeA5l45Z1CUl6ZeCQMkFdJYmQgZ2mr437nu+ee+6U+ddbk3vb+73X/97/+a+3doYdFRw/joyZUVpFaoVqhMgXK9v9LD83CcszBeAwq+5cN+1/xDLdwCnebnW+m0DgcxfSKBMrgl7EOr4uAXRGahGsYUpa9zf33mIvnjeeLCI3EfQxO4B84hD141SaBUdiMteibcoRC0/Axn7OI0G2EbyLeYj6etkEkSCxI567gJSZkueP78LR+FkubEVqM8wnwEzPLTFhANBTYm9TIb4fKGzEDN3IbU1NFfi81KnQYqxP4QCbn+jaUOVhA5k+aIBWGPpH5Z0Va3IVtfwCNhMIj4aGIKXhUkdBovCg5E5gRuJ5w95KXChX6jgEJ2A9h6CoRiu4vObABJ/E54b7kGqhTyd7lDBfG+1CFTSpxK4SO4VvKHZ8DuyrZucxgS9LmwszUMcSqRHRWdFOzGIOhWQfeSaDHqfsKS7YD2xPwNJZVYZOwrZj6SDbTViX8vtR9hYTC0E/QP4FjDFyoSKqs7eMqupnLORsx+woJxeKWzNi7035M0ZW4WpFUwKObYqhGROmjgydnc+gShqX1i9mcW5TPXTSpe+EhJuaAx7MxcCb9s09tkItXwiasQe90/g1iKJZeHYEfm54Kccn+i4junZeeJX/lb/b86IOd2Fow0btDMsoXl2wo1ClaeTHGhRh1DjPGIy1atkrE4IsHWhg5HmgPmh1uhVCVH+82tiZUJmGtUK1QmQJl+7WHyhT6BeGWYSXLmpC/AAAAAElFTkSuQmCC" />
          </div>

          <div
            class='max-w-[65%] flex gap-2 grow px-4 py-1 rounded-full  bg-zinc-300 border-black dark:bg-zinc-700 shadow-lg shadow-zinc-500/20 dark:shadow-zinc-800/20'>
            <button (click)='handleSubmit(searchInput.value)'>
              <span class="material-symbols-outlined">
              travel_explore
              </span>
            </button>
            <input class=' grow bg-transparent focus:outline-none' type='search' placeholder='Please Enter The City'
              #searchInput />
          </div>

          <button (click)="getWeatherAtCurrentLocation()" class='flex justify-between items-center bg-lime-600 rounded-full px-4 py-3'>
            <span class="material-symbols-outlined md:mr-1">
            my_location
            </span>
            <span class='hidden	md:block'>Current Location</span></button>
          <!-- ********************************** End Navbar Section *********************************** -->
        </header>

        <!-- ********************************** Start Main Section *********************************** -->
        <section class='flex gap-6 flex-col md:flex-row py-6'>
          <div class='container mx-auto py-8 flex md:flex-initial md:w-[35%] flex-col text-center rounded-xl shadow-lg shadow-zinc-500/70 dark:shadow-zinc-950/80'>
            <app-date  [weatherData]="weatherData"></app-date>
          </div>
          <div class='container mx-auto p-8 text-center md:flex-initial md:w-[60%] rounded-xl shadow-lg shadow-zinc-500/70 dark:shadow-zinc-950/80 '>
            <app-weather [sunsetTimeString]="sunsetTimeString" [sunriseTimeString]="sunriseTimeString" [weatherData]="weatherData"></app-weather>
          </div>
        </section>
        <!-- ********************************** End Main Section ************************************* -->

        <!-- ********************************** Start Main Section *********************************** -->
        <section class='flex gap-6 flex-col lg:flex-row py-6'>
          <div class="container mx-auto p-4 flex md:flex-initial lg:w-[25%] flex-col rounded-xl shadow-lg shadow-zinc-500/70 dark:shadow-zinc-950/80">
            <app-days-forecast [dailyData]="dailyData"></app-days-forecast>
          </div>
          <div class='container mx-auto p-4 text-center items-center flex flex-col md:flex-initial lg:w-[70%] rounded-xl shadow-lg shadow-zinc-500/70 dark:shadow-zinc-950/80'>
            <app-hourly-forecast [dailyData]="dailyData"></app-hourly-forecast>
          </div>
        </section>
      </div>
    </div>
  </div>
</router-outlet>
